<h1>Editing script template</h1>

<%= render "form", script_template: @script_template %>

<br>

<div>
  <%= link_to "Show this script template", @script_template %> |
  <%= link_to "Back to script templates", script_templates_path %>
</div>
