
<%#image_tag 'logo.jpg', :width=>logo%>
<%# image_tag '/esm/logo.png',:width=>@logo/1.5,:style=>'margin:5px'%><%# image_tag '/cusys/images/right-logo.png',:width=>@logo/1.5,:style=>'float:right;margin:5px'%>

<div class="nav" >
</div>