<h1>Edit User</h1>
<br/>
<%= form_for(:user) do |f| %>

<%= render :partial=> 'user', :locals=>{:f=>f} %>
<br/>
<%= f.submit 'Update' , :class=>bt_class%> | <%= link_to 'Cancel', :action=>'index'%>
<% end %>