<%
	p = {}
	if @current_project 
	tp = @current_project.get_params if @current_project 
	p = tp if tp
	end
	title = (p['app_title']and p['app_title']!='')?p['app_title']:"ESM:Innovation as a Service"
	bg = (p['app_bg_style']and p['app_bg_style']!='')?p['app_bg_style']:"#eee"
	logo = (p['app_logo_url']and p['app_logo_url']!='')?p['app_logo_url']:'/esm_core/banner1.png'
%>

<%= form_for :user, :url=>{:action=>'forgot_password'} do |form| %>

<div class="login_box">


		<div class=" top_b " style="padding-top:5px">Forgot password<a href="/"><%#= image_tag logo, :height=>36,:width=>250 %></a>
		</div>   
		
		<% if flash[:error] %>
		<div class="alert alert-info alert-login">
			<%= flash[:error] %>
		</div>
		<% else %>
		
		<% end %>
 
				<div class="alert alert-info alert-login">
				Please enter your email address. You will receive a link to create a new password via email.
			</div>
			<div class="cnt_b">
				<div class="formRow clearfix">
					<div class="input-prepend">
						<span class="add-on">@</span><%= form.text_field "email", :size => 20, :placeholder=>"Your email address"%>
					</div>
				</div>
			</div>
			<div class="btm_b tac">
				<button class="btn btn-inverse" type="submit">Request New Password</button>
			</div>

</div>
<div class="links_b links_btm clearfix" >
<span class="linkform"><a href="/user/login">Goto Login</a></span>
</div>
<% end %>


  