<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EMR-LIFE - Login Page</title>
    
        <!-- Bootstrap framework -->
            <link rel="stylesheet" href="/gebo/bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/gebo/bootstrap/css/bootstrap-responsive.min.css" />
        <!-- theme color-->
            <link rel="stylesheet" href="/gebo/css/dark.css" />
        <!-- tooltip -->    
			<link rel="stylesheet" href="/gebo/lib/qtip2/jquery.qtip.min.css" />
        <!-- main styles -->
            <link rel="stylesheet" href="/gebo/css/style.css" />
    
        <!-- Favicons and the like (avoid using transparent .png) -->
            <link rel="shortcut icon" href="favicon.ico" />
            <link rel="apple-touch-icon-precomposed" href="icon.png" />
    
        <!--[if lte IE 8]>
            <script src="/gebo/js/ie/html5.js"></script>
			<script src="/gebo/js/ie/respond.min.js"></script>
        <![endif]-->
		
    </head>
    <body class="login_page">
<%= yield %>
    </body>
	</html>
