
<p>
<%= tabular :model=>Role,:title=>'Roles', :data=>@project.roles do |row,out|
	out<<link_to("Edit",{:action=>'edit',:id=>row},:remote=>true)
	out<<link_to("Delete",{:action=>'destroy',:id=>row},:remote=>true,:confirm=>'Are you sure?')	
	out
end %>
</p>
<%= link_to "New Role", {:action => "new",:id=>@project},:remote=>true ,:class=>bt_class%>